{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1>Vos informations personnelles</h1>
        <div id="infos">
            {{ form_start(form) }}
            {{ form_row(form.Pseudo, {'value': user.pseudo }) }}
            {{ form_row(form.Email, {'value': user.email }) }}
        </div>
        <button type="submit" class="btn btn--primary">Valider la modification</button>
        <a class="btn" href="{{ path('app_user_show') }}">Annuler</a>
        {{ form_end(form) }}
    </section>
{% endblock %}