{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/allProducts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/searchbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section id="allProducts">

        <div class="searchbar">
            <input type="text" placeholder="Rechercher">
            <a href="#">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.4359 22.82L15.7919 15.176C17.2759 13.552 18.172 11.4241 18.172 9.072C18.172 4.06 14.0839 7.0945e-09 9.1 7.0945e-09C4.116 -0.000195293 0 4.03185 0 9.044C0 14.056 4.0881 18.116 9.072 18.116C11.424 18.116 13.58 17.2199 15.204 15.7359L22.848 23.3799L23.4359 22.82ZM0.8399 9.044C0.8399 4.50805 4.536 0.812 9.0719 0.812C13.6078 0.812 17.3039 4.5081 17.3039 9.044C17.3037 13.58 13.6078 17.304 9.0719 17.304C4.53595 17.304 0.8399 13.6079 0.8399 9.044Z" fill="black"/>
                </svg>
            </a>
        </div>

        <h1> Tous les articles </h1>
        <div id="productsGallery">
            {% for deal in deals  %}
                <div class="productsGallery__single">
                    <a href="{{ path('app_deal_show', { id: 1 }) }}"><img src="https://via.placeholder.com/250x290" alt="image produit"></a>
                    <a href="{{ path('app_deal_show', { id: 1 }) }}"><p>{{ deal.title }}</p></a>
                    <p>{{ deal.price }}€</p>
                </div>
            {% endfor %}
        </div>

        <!-- mettre à jour la pagination
         knp_pagination_render(products -->

    </section>
{% endblock %}