{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/createProducts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1>Créer une annonce</h1>
        {{ form_start(dealForm) }}
        {{ form_widget(dealForm) }}
        <button type="submit" class="btn btn--primary">Valider</button>
        {{ form_end(dealForm) }}
        <!--<form>
            <label>Images</label>
            <label>Nom article</label>
            <label>Prix</label>
            <label>Etat</label>
            <label>Catégorie</label>
            <label>Description</label>
            <button type="submit" class="btn btn--primary">Valider</button>
        </form>-->
    </section>
{% endblock %}