{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sellerInfos.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div id="productsInfos">
            {% set pourcent = null %}
            {% if deal.seller.NbUserDislikes > 0 or deal.seller.NbUserLikes > 0  %}
                {% set pourcent = deal.seller.NbUserLikes/(deal.seller.NbUserDislikes + deal.seller.NbUserLikes) * 100 %}
            {% endif %}

            <div id="productsInfos__header">
                <div>
                    <h1>{{ deal.title }}</h1>
                    <p>{{ deal.price }}€</p>
                </div>
                <div class="sellerInfos">
                    {% if deal.seller.photo %}
                        <img src="{{ deal.seller.photo }}" alt="image profil vendeur">
                    {% else %}
                        <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                    {% endif %}
                    <span>{{ deal.seller }}</span>
                    {% if pourcent %}
                        <span>{{ pourcent|round }}% de recommandation</span>
                    {% elseif deal.seller.NbUserDislikes > 0 and deal.seller.NbUserLikes == 0  %}
                        <span>Vendeur mal noté</span>
                    {% else %}
                        <span>Pas de recommandation</span>
                    {% endif %}
                </div>
            </div>

            <div id="productsInfos__image">
                <img src="{{ deal.MainPhoto }}" alt="image produit">
                <img src="{{ deal.Photo2 }}" alt="image produit">
                <img src="{{ deal.Photo3 }}" alt="image produit">
            </div>

            <div class="productsInfos__bar">
                <p>Etat : {{ deal.ProductState }}</p>
                <p>Date mise en ligne : {{ deal.DatePublication|date("d/m/Y") }}</p>
            </div>

            <p>
                {{ deal.description }}
            </p>
            {% if deal.isSold == 0 and app.user != deal.seller %}
                <a href="{{ path('app_buy_deal', { id: deal.id }) }}" class="btn btn--primary">Acheter</a>
            {% elseif app.user == deal.seller %}
                <a href="{{'/annonce/' ~ deal.id ~ '/modifier'}}" class="btn btn--primary">Modifier mon annonce</a>
            {% else %}
                <span class="btn btn--primary">Déjà vendu</span>
            {% endif %}

        </div>

        <div id="comments">

            <h2> Commentaires</h2>

            {% if comments %}
                {% for comment in comments %}
                    {% set comParent = comment.id|trans  %}

                    <div class="comments__conversation">
                        <div class="comments__message">
                            {% if comment.User.photo %}
                                <img src="{{ comment.User.photo }}" alt="image profil vendeur">
                            {% else %}
                                <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                            {% endif %}
                            <p>
                                {{ comment.DateCreation | date("d/m/Y")}}
                                <br>
                                {{ comment.Content }}
                            </p>
                        </div>

                        {% for response in responses %}
                            {% if response.Parent.id == comParent %}
                                <div class="comments__message">
                                    {% if response.User.photo %}
                                        <img src="{{ response.User.photo }}" alt="image profil vendeur">
                                    {% else %}
                                        <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                                    {% endif %}
                                    <p>
                                        {{ response.DateCreation | date("d/m/Y")}}
                                        <br>
                                        {{ response.Content }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <br>
                <p>Il n'y a pas encore de commentaire.</p>
                <br>
            {% endif %}

            {% if deal.isSold == 0 and app.user and deal.seller != app.user %}
                <a class="btn btn--primary" id='askQuestionBtn' onClick='displayForm()'>Poser une question</a>
                {{ form_start(commentForm, {'attr': {'id': 'commentForm'}}) }}
                    <br><label>Votre question</label>
                {{ form_widget(commentForm) }}
                    <button type="submit" class="btn btn--primary">Envoyer</button>
                {{ form_end(commentForm) }}
            {% elseif deal.seller != app.user %}
                <a class="btn btn--primary" href="{{ path('app_security_login')}}">Connectez vous pour poser une question</a>
            {% endif %}

        </div>

        <div>
            <h2>Vous pourriez aussi aimer</h2>
            <div class="carousel">
                {% for recommendation in recommendations %}

                    <div>
                        <a href="{{ path('app_deal_show', {id: recommendation.id} ) }}">
                            <img src="{{ recommendation.MainPhoto }}" alt="image produit">
                        </a>
                        <a href="{{ path('app_deal_show', {id: recommendation.id} ) }}">
                            <p>{{ recommendation.title }}</p>
                        </a>
                        <p>{{ recommendation.price }}€</p>
                    </div>

                {% endfor %}
            </div>
        </div>

    </section>

    {% block javascripts %}
		<script src="{{ asset('js/form.js') }}"></script>
	{% endblock %}

{% endblock %}