{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sellerInfos.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div id="productsInfos">

            {% if deal.seller.NbUserDislikes > 0 or deal.seller.NbUserLikes > 0  %}
                {% set pourcent = deal.seller.NbUserLikes/(deal.seller.NbUserDislikes + deal.seller.NbUserLikes) * 100 %}
            {% endif %}

            <div id="productsInfos__header">
                <div>
                    <h1>{{ deal.title }}</h1>
                    <p>{{ deal.price }}€</p>
                </div>
                <div class="sellerInfos">
                    {% if deal.seller.photo %}
                        <img src="{{ deal.seller.photo }}" alt="image profil vendeur">
                    {% else %}
                        <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                    {% endif %}
                    <span>{{ deal.seller }}</span>
                    {% if pourcent %}
                        <span>{{ pourcent|round }}% de recommendation</span>
                    {% elseif deal.seller.NbUserDislikes > 0 and deal.seller.NbUserLikes == 0  %}
                        <span>Vendeur mal noté</span>
                    {% else %}
                        <span>Pas de recommendation</span>
                    {% endif %}
                </div>
            </div>

            <div id="productsInfos__image">
                <img src="{{ deal.MainPhoto }}" alt="image produit">
                <img src="{{ deal.Photo2 }}" alt="image produit">
                <img src="{{ deal.Photo3 }}" alt="image produit">
            </div>

            <div class="productsInfos__bar">
                <p>Etat : {{ deal.ProductState }}</p>
                <p>Date mise en ligne : {{ deal.DatePublication|date("d/m/Y") }}</p>
            </div>
            

            <p>
                {{ deal.description }}
            </p>
            {% if deal.isSold == 0 and app.user != deal.seller %}
                <a href="#" class="btn btn--primary">Acheter</a>
            {% elseif app.user == deal.seller %}
                <a href="{{'/annonce/' ~ deal.id ~ '/modifier'}}" class="btn btn--primary">Modifier mon annonce</a>
            {% else %}
                <span class="btn btn--primary">Déjà vendu</span>
            {% endif %}

        </div>

        <div id="comments">

            <h2> Commentaires</h2>

            {% if comments %}
                {% for comment in comments %}
                    {% set comParent = comment.id|trans  %}

                    <div class="comments__conversation">
                        <div class="comments__message">
                            {% if comment.User.photo %}
                                <img src="{{ comment.User.photo }}" alt="image profil vendeur">
                            {% else %}
                                <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                            {% endif %}
                            <p>
                                {{ comment.DateCreation | date("d/m/Y")}}
                                <br>
                                {{ comment.Content }}
                            </p>
                        </div>

                        {% for response in responses %}
                            {% if response.Parent.id == comParent %}
                                <div class="comments__message">
                                    {% if response.User.photo %}
                                        <img src="{{ response.User.photo }}" alt="image profil vendeur">
                                    {% else %}
                                        <img src="https://raitohetic.s3.eu-west-3.amazonaws.com/profil/user_default.jpeg" alt="icone utilsateur">
                                    {% endif %}
                                    <p>
                                        {{ response.DateCreation | date("d/m/Y")}}
                                        <br>
                                        {{ response.Content }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas encore de commentaire.</p>
                <br>
            {% endif %}

            {% if deal.isSold == 0 %}
                <a class="btn btn--primary" id='askQuestionBtn' onClick='displayForm()'>Poser une question</a>
                {{ form_start(commentForm, {'attr': {'id': 'commentForm'}}) }}
                    <br><label>Votre question</label>
                {{ form_widget(commentForm) }}
                    <button type="submit" class="btn btn--primary">Envoyer</button>
                {{ form_end(commentForm) }}
            {% endif %}

            

            

        </div>

        <div>
            <h2>Vous pourriez aussi aimer</h2>
            <div class="carousel">
                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_32_636)">
                        <path d="M28.8904 32.5248C28.7169 32.6998 28.481 32.7989 28.2344 32.8002C27.9873 32.8025 27.7498 32.703 27.5785 32.5248L12.1103 17.056C11.9349 16.8828 11.836 16.6467 11.836 16.4001C11.836 16.1535 11.9349 15.9173 12.1103 15.7442L27.5785 0.272518C27.7503 0.0887967 27.9894 -0.017364 28.2409 -0.0214816C28.4925 -0.0255999 28.7348 0.0723264 28.9129 0.250325C29.0906 0.428101 29.1888 0.670622 29.1844 0.922081C29.1803 1.17353 29.0742 1.41262 28.8904 1.58447L14.0783 16.4001L28.8904 31.2122C29.0652 31.3859 29.1634 31.622 29.1634 31.8684C29.1634 32.1146 29.0652 32.3507 28.8904 32.5244L28.8904 32.5248Z" fill="black"/>
                    </g>
                </svg>

                {% for recommendation in recommendations %}

                    <div>
                        <a href="{{ path('app_deal_show', {id: recommendation.id} ) }}">
                            <img src="{{ recommendation.MainPhoto }}" alt="image produit">
                        </a>
                        <a href="{{ path('app_deal_show', {id: recommendation.id} ) }}">
                            <p>{{ recommendation.title }}</p>
                        </a>
                        <p>{{ recommendation.price }}€</p>
                    </div>

                {% endfor %}

                <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_32_633)">
                        <path d="M12.1096 32.5248C12.2831 32.6998 12.519 32.7989 12.7656 32.8002C13.0127 32.8025 13.2502 32.703 13.4215 32.5248L28.8897 17.056C29.0651 16.8828 29.164 16.6467 29.164 16.4001C29.164 16.1535 29.0651 15.9173 28.8897 15.7442L13.4215 0.272518C13.2497 0.0887967 13.0106 -0.017364 12.7591 -0.0214816C12.5075 -0.0255999 12.2652 0.0723264 12.0871 0.250325C11.9094 0.428101 11.8112 0.670622 11.8156 0.922081C11.8197 1.17353 11.9258 1.41262 12.1096 1.58447L26.9217 16.4001L12.1096 31.2122C11.9348 31.3859 11.8366 31.622 11.8366 31.8684C11.8366 32.1146 11.9348 32.3507 12.1096 32.5244L12.1096 32.5248Z" fill="black"/>
                    </g>
                </svg>
            </div>
        </div>

    </section>

    {% block javascripts %}
		<script src="{{ asset('js/form.js') }}"></script>
	{% endblock %}

{% endblock %}