{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/allProducts.css') }}">
	<link rel="stylesheet" href="{{ asset('css/searchbar.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	<section id="allProducts">
		{{ form(form) }}
			<h1>
				Résultat de votre recherche
			</h1>
			{% if deals|length < 1%}
				<p class="product-result">Aucun article trouvé</p>
			{% endif %}
			{% if deals|length > 0%}
				<p class="product-result">{{deals|length}}
					articles trouvés</p>
			{% endif %}
			<div id="productsGallery">
				{% for deal in deals  %}
					<div class="productsGallery__single">
						<a href="{{ path('app_deal_show', { id: deal.id }) }}"><img src="{{ deal.mainPhoto }}" alt="{{ deal.title }}"></a>
						<a href="{{ path('app_deal_show', { id: deal.id }) }}">
							<p>{{ deal.title }}</p>
						</a>
						<p>{{ deal.price }}€</p>
					</div>
				{% endfor %}
			</div>

			<!-- mettre à jour la pagination
																																																									         knp_pagination_render(products -->

		</section>
	{% endblock %}
